.pozadina3 {
    background: linear-gradient(to bottom, #9bd7eb, #f9faac) no-repeat center center; /* gradient from blue to yellow */
    background-size: cover;
    background-attachment:fixed; /* pozadina će ostati fiksna */
    background-position: center center;
    min-height: 100vh;
    width: 100%;
}

.event-creator {
    max-width: 600px;
    margin: 0 auto;
    padding: 3%;
    font-family: Arial, sans-serif;
    border: 0.5vw solid #9bd7eb;
    border-radius: 5%; /* rounded corners */
    background: white;
}

.dodajDogadjaj {
    text-align: center;
    color: #333;
    padding-bottom: 5%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#eventName,
#date,
#time,
#duration,
#description,
#shop,
#frequency,
textarea {
    width: 100%;
    padding: 8px;
    border: 4px solid #9bd7eb;
    border-radius: 3%; /* rounded corners */
    font-size: 16px;
    background-color: rgba(164, 213, 236, 0.29);
    font-family: "Courier New", serif;
    padding-left: 2%;
    font-weight: bold;
}

textarea {
    height: 100px;
    resize: vertical;
}

#image {
    border: 4px solid #9bd7eb;
    border-radius: 1vw;
    background-color: rgba(164, 213, 236, 0.29);
    position: relative;
    font-family: "Courier New", serif;
    font-weight: bold;
}

.submit-button-event {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9bd7eb;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: black;
    font-weight: bold;
}

.submit-button-event:hover {
    background-color: #45a049;
}

.back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9bd7eb;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* space above the back button */
    font-family: Arial, sans-serif;
}

.back-button:hover {
    background-color: #e53935;
}

.map-container {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.selected-location {
    font-style: italic;
    color: #555;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    #pozadinaId3 {
        min-height: 120vh;
    }
}

/* Mobile View */
@media screen and (max-width: 768px) {
    #pozadinaId3 {
        min-height: 120vh;
    }
}

