.edit-shop-page {
    background: linear-gradient(to bottom, #9bd7eb, #f9faac) no-repeat center center; /* Transition from blue to yellow */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.edit-shop-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    padding: 3%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}


.edit-shop-card {
    background-color: white;
    border-radius: 10px;
    border: 5px solid #9bd7eb;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.edit-shop-card h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 4px solid #9bd7eb;
    border-radius: 3%; /* Rounded corners */
    font-size: 16px;
    font-family: "Courier New", serif;
}

textarea {
    height: 120px;
    resize: vertical;
}

input[type="file"] {
    padding: 0;
}

input, textarea {
    background-color: rgba(164, 213, 236, 0.29);
    border-radius: 1vw;
    position: relative;
    font-weight: bold;
    font-family: "Courier New", serif;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #9bd7eb;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #45a049;
}

.current-image {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    border-radius: 8px;
    object-fit: cover;
}

.back-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #f9faac;
    color: black;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Add space above the back button */
    font-family: Arial, sans-serif;
}

.back-button:hover {
    background-color: #e53935;
}

.logo1 img {
    cursor: pointer;
    max-width: 150px;
}

@media (max-width: 768px) {
    .edit-shop-container {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        padding: 10px;
    }

    .submit-button, .back-button {
        font-size: 14px;
    }
}
