.event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Osigurava da je sadržaj centriran vertikalno */
    background: linear-gradient(to bottom, #9bd7eb, #f9faac) no-repeat center center; /* prelazak iz plave u zutu */
    background-size: cover; /* da pozadina bude preko cijelog ekrana */
}

.header-events {
    display: flex;
    align-items: center; /* Poravnava logo i naslov po visini */
    width: 100%; /* Širina zaglavlja */
    justify-content: space-between; /* Razmak između loga i naslova */
    padding: 1%;
    background-color: white;
}

.logo-container {
    flex: 0 0 auto; /* Logo se ne širi */
}

.logo {
    width: 70%; /* Postavite širinu loga na 50% od roditeljskog elementa */
    max-width: 100px; /* Maksimalna širina loga */
}

.header-title {
    font-size: 250%; /* Veličina naslova */
    text-align: center;
    flex-grow: 1; /* Naslov zauzima preostali prostor */
    color: midnightblue;
}

.spacer {
    height: 6vh; /* Visina razmaka */
    width: 100%; /* Širina razmaka */
    background-color: transparent; /* Prozirna pozadina */
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.event-card {
    display: flex;
    border: 0.5rem solid lightskyblue; /* Plava granica */
    border-radius: 1%; /* Zaobljeni rubovi */
    padding: 2vh; /* Unutarnji razmak */
    margin-bottom: 3vh; /* Razmak između događaja */
    background-color: white; /* Pozadina kartice događaja */
    width: 80%; /* Širina kartice događaja */
}

.event-column {
    flex: 1; /* Svaki stupac zauzima jednake dijelove dostupnog prostora */
    padding: 1vw; /* Unutarnji razmak unutar stupaca */
}

.event-column-left-column {
    text-align: center; /* Centriranje teksta u lijevom stupcu */
    width: 30%;
    margin-top: 2%;
}

.middle-column {
    text-align: center; /* Centriranje teksta u srednjem stupcu */
}

.right-column {
    display: flex;
    flex-direction: column; /* Vertikalno poredavanje dugmadi */
    align-items: center; /* Centriranje dugmadi */
}

.event-info{
    text-align: left;
}

.event-infos, .event-location, .event-date, .event-time {
    text-align: left;
    padding-bottom: 3vh;
}

.event-image {
    width: 40%; /* Slika zauzima punu širinu kartice */
    height: auto; /* Održava omjer slike */
}

.learn-more, .register, .add-to-calendar {
    margin-top: 1vh; /* Razmak između dugmadi */
    background-color: lightskyblue;
    width: 30%;
}

.register, .add-to-calendar{
    margin-top: 5vh;
}

.unregister {
    margin-top: 2vh; /* Razmak između dugmadi */
    background-color: lightskyblue;
}

.learn-more:hover, .register:hover, .unregister:hover{
    background-color:dodgerblue;
}

.event-details {
    margin-top: 2%; /* Razmak iznad detalja događaja */
}

.event-actions {
    display: flex;
    justify-content: space-around; /* Razmak između dugmadi */
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 0.5%; /* Razmak iznad navigacije */
    margin-bottom: 2%;
}

.navigation-btn {
    cursor: pointer;
    height: 7vh;
    width: 7vh;
    margin: 0 4vw; /* Dodaj margine lijevo i desno */
    font-size: 150%;
}

.page-number {
    height: 7vh;
    width: 7vh;
    font-size: 50%; /* Povećanje veličine fonta */
    display: flex; /* Omogućava centriranje sadržaja */
    align-items: center; /* Centriranje sadržaja unutar broja */
    justify-content: center; /* Centriranje sadržaja unutar broja */
}

.page-number span {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 300%;
}

.page-number span.active {
    background-color: #BEE6F3;
    border-radius: 5px;
}

.uspjesnaPrijava{
    color: green;
    margin-top: 3vh;
    font-weight: bold;
}

.add-event-btn {
    background-color: #9bd7eb;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.add-event-btn:hover {
    background-color: #388e3c;
}
