.user-profile-page {
    min-height: 100vh;
    background: linear-gradient(to bottom, #9bd7eb, #f9faac) no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-container {
    background: white;
    border-radius: 25px;
    width: 70%;
    padding: 2%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.myProfile{
    margin-bottom: 2%;
    text-align: center;
}

.header-section {
    display: flex; /* Koristi Flexbox za raspored */
    align-items: center; /* Poravnava sve elemente vertikalno */
    margin-bottom: 20px; /* Razmak ispod zaglavlja */
}

.avatar {
    width: 100px; /* Širina slike avatara */
    height: 100px; /* Visina slike avatara */
    border-radius: 50%; /* Zaobljeni oblik */
    margin-right: 20px; /* Razmak između slike i informacija */
}

.profile-info {
    flex-grow: 1; /* Omogućuje da profil informacije zauzmu preostali prostor */
}

.imeUsera,
.mailUsera {
    margin: 0; /* Uklanja marginu oko paragrafa */
}

.delete-button, .askOwnerButton {
    background-color: #4A90E2; /* Boja dugmeta za brisanje */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3%;
    cursor: pointer;
}

.askOwnerButton{
    margin-top: 2vh;
}

.delete-button:hover {
    background-color: red; /* Tamnija boja na hover */
}

.askOwnerButton:hover {
    background-color: darkblue;
}

.izbrisiZatrazi {
    display: flex;
    flex-direction: column; /* Postavlja elemente u kolonu */
    margin-left: auto; /* Poravnanje na desnu stranu */
    width: 20%;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.input-box-profile {
    display: flex;
    align-items: center; /* Poravnava tekst i input vertikalno */
    margin-bottom: 3%; /* Razmak između polja */
    position: relative;
}

.input-box-profile label {
    margin-right: 1%; /* Razmak između oznake i inputa */
    min-width: 150px; /* Postavljanje minimalne širine za oznake radi dosljednosti */
}

.input-box-profile input {
    flex-grow: 1; /* Input će zauzeti preostali prostor */
    flex-basis: 100%; /* Osigurava da svi inputi imaju istu širinu */
    padding: 10px; /* Unutarnji razmak unutar inputa */
    border: 1px solid #ccc; /* Okvir oko inputa */
    border-radius: 5px; /* Zaobljeni rubovi */
    font-size: 16px; /* Veličina fonta */
    background-color: #e6f7ff; /* Svijetlo plava pozadina */
}

.input-box-profile input:focus {
    border-color: #4A90E2; /* Boja okvira kada je input u fokusu */
    outline: none; /* Uklanja standardni outline */
}

.dropdown {
    position: absolute; /* Pozicioniranje padajućeg izbornika */
    background-color: white;
    border: 1px solid #ccc;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0; /* Hover efekat na stavkama izbornika */
}

.logo1 {
    margin-bottom: 20px; /* Razmak ispod loga */
}

#submitProfile {
    background-color: #4A90E2; /* Boja dugmeta */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

#submitProfile:hover{
    background-color: limegreen;
}

.form-columns {
    display: flex; /* Koristi Flexbox za raspored */
    justify-content: space-between; /* Razmak između stupaca */
    border: 10px solid #4A90E2;
    border-radius: 3%;
    padding: 5%;
    margin: 3%;
}

.left-column,
.right-column {
    flex: 1; /* Oba stupca zauzimaju jednake dijelove prostora */
    margin-right: 20px; /* Razmak između lijevog i desnog stupca */
}

.right-column {
    display: flex; /* Koristi Flexbox za raspored unutar desnog stupca */
    flex-direction: column; /* Stavlja elemente u kolonu */
}

.nameOfUser, .lastNameOfUser, .mailUser{
    text-align: left;
}

#firstNameProfile, #lastNameProfile, #emailProfile{
    margin-left: -20%;
}

.DateUser{
    margin-left: -9%;
}

#dateOfBirth{
    margin-right: -10%;
}

.iconDown {
    position: absolute;
    cursor: pointer; /* Promjena kursora na pointer prilikom hovera */
    margin-left: 90%;
}