.button-warning-form-odustani, .button-warning-form-posalji{
    margin-left: 7%;
    background-color: #9bd7eb;
}

.button-warning-form-odustani:hover{
    background-color: red;
}

.button-warning-form-posalji:hover{
    background-color: limegreen;
}