# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/public/userUploads/cokolada.jpeg
/public/userUploads/piletina.jpeg
/public/userUploads/mlijeko.jpeg
/public/userUploads/pasta_za_zube.jpeg
/public/userUploads/riza.jpeg
/public/userUploads/sampon.jpeg
/public/userUploads/sir.jpeg
/public/userUploads/vlasnik@gmailcom_shop0.png
/public/userUploads/vlasnik@gmailcom_shop1.jpeg
/public/userUploads/vlasnik@gmailcom_shop2.png
/public/userUploads/vlasnik@gmailcom_shop3.png
/public/userUploads/vlasnik@gmailcom_shop4.png
/public/userUploads/vlasnik@gmailcom_shop5.jpeg
